@charset "utf-8";
body {
  width: 100%;
  height: auto;
  background: url(../images/about_bg.png);
}
body #about a {
  color: #0078ac;
}
body .quickBox {
  display: none;
  width: 70px;
  height: 46px;
  border-radius: 15px;
  border: 1px solid #104962;
  background-color: #fff;
  position: fixed;
  right: 100px;
  top: 822px;
}
body .quickBox .quick a {
  display: block;
  font: 20px/46px 'trebuc';
  text-align: center;
}
body .quickBox:hover {
  background-color: #104962;
}
body .quickBox:hover .quick a {
  color: #fff;
}
body .box1290 {
  width: 1290px;
  margin: auto;
  box-sizing: border-box;
}
body #wrap .contents {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
body #wrap .s1 {
  /*ABOUT ME*/
  padding-top: 232px;
}
body #wrap .s1 .conBox {
  width: 100%;
  height: 696px;
  background-color: rgba(0, 120, 172, 0.1);
}
body #wrap .s1 .conBox .box1290 {
  padding-left: 27px;
}
body #wrap .s1 .conBox .box1290 h1 {
  font: 100px/138px 'trebuc';
  color: #0078ac;
}
body #wrap .s1 .conBox .contentAbout .aboutL {
  width: auto;
  float: left;
  margin-right: 200px;
}
body #wrap .s1 .conBox .contentAbout .aboutR {
  float: left;
  margin-top: 100px;
}
body #wrap .s1 .conBox .contentAbout .aboutR h3 {
  height: 46px;
  font: 30px/46px 'trebuc';
  color: #494949;
  border-bottom: 2px solid #494949;
  width: 400px;
}
body #wrap .s1 .conBox .contentAbout .aboutR article {
  font: 25px/35px 'HY견고딕';
  color: #494949;
  margin-top: 37px;
}
body #wrap .s2 {
  /*I AM*/
  height: 682px;
}
body #wrap .s2 .box1290 {
  padding-top: 100px;
  padding-left: 27px;
}
body #wrap .s2 .box1290 h1 {
  width: 221px;
  height: 104px;
  font: 100px/104px 'trebuc';
  color: #fff;
  background-color: #0078ac;
  margin-bottom: 50px;
}
body #wrap .s2 .box1290 .contentIam .iamL {
  float: left;
  font: 20px/30px 'HY견고딕';
  color: #494949;
}
body #wrap .s2 .box1290 .contentIam .iamR {
  float: right;
  font: 20px/30px 'HY견고딕';
  color: #494949;
}
body #wrap .s2 .box1290 .contentIam .iamR .table {
  margin-top: -80px;
}
body #wrap .s2 .box1290 .contentIam .iamR .table .tableText p {
  height: 35px;
  margin-top: 10px;
}
body #wrap .s2 .box1290 .contentIam .iamR .table .tableText .tableBar {
  width: 541px;
  height: 20px;
  background-color: #fbfbfb;
  border: 1px solid #cdcddc;
  box-sizing: border-box;
}
body #wrap .s2 .box1290 .contentIam .iamR .table .tableText .tableInbar {
  height: 100%;
  background-color: #0078ac;
}
body #wrap .s2 .box1290 .contentIam .iamR .table .tableText .t1 {
  width: 487px;
}
body #wrap .s2 .box1290 .contentIam .iamR .table .tableText .t2 {
  width: 460px;
}
body #wrap .s2 .box1290 .contentIam .iamR .table .tableText .t3 {
  width: 514px;
}
body #wrap .s2 .box1290 .contentIam .iamR .table .tableText .t4 {
  width: 360px;
}
body #wrap .s2 .box1290 .contentIam .iamR .table .tableText .t5 {
  width: 460px;
}
body #wrap .s3 {
  /*My Skills*/
  height: 449px;
}
body #wrap .s3 .box1290 h1 {
  width: 432px;
  height: 86px;
  margin: auto;
  margin-bottom: 62px;
  background-color: #0078ac;
  color: #fff;
  font: 50px/86px 'trebuc';
  text-align: center;
}
body #wrap .s3 .box1290 .skillBg {
  width: 100%;
  height: 301px;
  background: url(../images/skills_bg.png) no-repeat;
  color: #fff;
}
body #wrap .s3 .box1290 .skillBg .skillList {
  /*ul*/
  text-align: center;
  height: 100%;
}
body #wrap .s3 .box1290 .skillBg .skillList .list {
  /*li*/
  float: left;
  height: 100%;
  box-sizing: border-box;
  padding-top: 140px;
  transition: 0.5s;
}
body #wrap .s3 .box1290 .skillBg .skillList .list .skillsTitle {
  font: 20px 'trebuc';
}
body #wrap .s3 .box1290 .skillBg .skillList .list .skillSub {
  /*ul*/
  display: none;
}
body #wrap .s3 .box1290 .skillBg .skillList .list .skillSub li {
  margin-top: 40px;
}
body #wrap .s3 .box1290 .skillBg .skillList .list .skillSub li p {
  font: 15px/20px 'HY그래픽';
}
body #wrap .s3 .box1290 .skillBg .skillList .design {
  width: 430px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
body #wrap .s3 .box1290 .skillBg .skillList .html {
  width: 428px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
body #wrap .s3 .box1290 .skillBg .skillList .jquery {
  width: 430px;
}
body #wrap .s3 .box1290 .skillBg .skillList .on {
  padding-top: 90px;
  background-color: rgba(0, 0, 0, 0.2);
}
body #wrap .s4 {
  /*strong*/
}
body #wrap .s4 .box1290 {
  padding-top: 157px;
  width: 1290px;
}
body #wrap .s4 .box1290 h1 {
  width: 769px;
  height: 86px;
  margin: auto;
  background-color: #0078ac;
  color: #fff;
  font: 50px/86px 'trebuc';
  text-align: center;
  margin-bottom: 30px;
}
body #wrap .s4 .box1290 .strong {
  width: 100%;
  height: 26px;
  margin: auto;
  font: 20px/26px 'HY그래픽';
  text-align: center;
}
body #wrap .s4 .box1290 .object {
  margin-top: 60px;
  color: #fff;
  width: 320px;
  height: 425px;
  float: left;
  text-align: center;
}
body #wrap .s4 .box1290 .object .blackBox {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 250px;
  box-sizing: border-box;
  transition: 0.5s;
}
body #wrap .s4 .box1290 .object .blackBox p {
  font: 25px 'trebuc';
  margin-bottom: 67px;
}
body #wrap .s4 .box1290 .object .blackBox article {
  font: 15px 'HY그래픽';
}
body #wrap .s4 .box1290 .object .objectOn {
  padding-top: 130px;
}
body #wrap .s4 .box1290 .harmony {
  background: url(../images/harmony.png);
}
body #wrap .s4 .box1290 .challange {
  background: url(../images/challange.png);
  margin-left: 165px;
}
body #wrap .s4 .box1290 .arrange {
  background: url(../images/arrange.png);
  float: right;
}
